<div class="jumbotron">
  <form [formGroup]="form">
    <div class="form-group">
      Nome: <input type="text" class="form-control" formControlName="name" />
        <p style="color:red;" *ngIf="form.get('name').errors && form.get('name').errors.required && form.get('name').dirty">Campo required</p>
        <p style="color:red;" *ngIf="form.get('name').errors && form.get('name').errors.validateEmail && form.get('name').dirty">Email Non Valida</p>
      <button type="submit" [disabled]="form.invalid">Schiaccia</button>
    </div>
  </form>
</div>