<header class="container-fluid">
  <h1> {{ title }}</h1>
  <nav class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><a [routerLink]="['/home']">Home</a></li>
      <li role="presentation"><a [routerLink]="['/list']">List</a></li>
      <li role="presentation"><a [routerLink]="['/detail/']">Lazy Page</a></li>
      <li role="presentation"><a [routerLink]="['/form']">Form</a></li>
    </ul>
  </nav>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main> 